.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__link :hover {
    text-decoration: underline;
}

.header h1 {
    font-size: 28px;
}